@import '../../styles/colors.scss';

.menu {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  * {
    box-sizing: border-box;
  }
  .menu-header {
    background-color: #c8c7cd;
    display: flex;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 1rem;
    .lb-Order {
      font-size: 1.8rem;
      line-height: 2rem;
      font-weight: 700;
    }
    .lb-your-order {
      color: #ffffff;
      font-size: 1.8rem;
      line-height: 2rem;
      padding-left: 0.5rem;
      .table-number {
        text-decoration: none;
      }
    }
  }
  .menu-content {
    display: block;
    min-height: 180px;
    height: 0;
  }
  .box {
    display: flex;
    margin: 1rem;
    background-color: $box-background-color;
    box-shadow: 0 2px 7px -3px;
    padding: 1rem;
    .image {
      width: 120px;
    }
    .box-content {
      padding-left: 2rem;
      flex-grow: 1;
      .menu-item-header {
        display: inline-grid;
        text-decoration: none;
        .strong {
          font-size: 1.9rem;
          font-weight: 700;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          font-weight: bold;
          text-overflow: ellipsis;
          text-decoration: none;
        }
      }
      .menu-item-body {
        font-size: 1.6rem;
        display: block;
        .div {
          display: block;
        }
        .description {
          color: $color-grey;
          max-height: 6rem;
          white-space: pre-line;
          display: -webkit-box;
          line-height: 1.5rem;
          margin-top: 0.5rem;
          overflow-y: hidden;
          -webkit-line-clamp: 4;
        }
      }
    }
    .price {
      min-width: 130px;
      display: flex;
      font-size: 1.4rem;
      margin-top: 1rem;
      font-weight: 700;
    }
  }
  .content-footer {
    padding: 0;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    .div {
      display: block;
    }
    .stick-bottom {
      width: 100%;
      display: flex;
      bottom: 0;
      background-color: #efefef;
      align-items: baseline;
      padding: 1.5rem;
      .total {
        font-size: 1.8rem;
        font-weight: 700;
        min-width: 55px;
      }
      .flex-grow {
        flex-grow: 1;
        margin-left: 1.5rem;
        .btn-cart {
          color: #ffffff;
          background-color: #1a6dd7;
          display: block;
          width: 100%;
          padding: 1rem 1.6rem;
          font-size: 1.6rem;
          line-height: 2rem;
          border-radius: 4rem;
          font-weight: 600;
          text-align: center;
          white-space: nowrap;
          border: 1px solid transparent;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}
