@import '../../styles/colors.scss';
.body-content {
    flex-grow: 1;
    font-family: $font-family;
    box-sizing: border-box;
    flex-direction: row;
    .order {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}