$banner-background: #efefef;
$dark: #000000;
$font-family: Lato, sans-serif;
$color-grey: #808080;
$web-background-color: #f9f9f9;
$card-background-color: #c8c7cd;
$content-background-color: #ffffff;
$order-box-shadow-color: #cfcdcd;
$order-border-color: #ced4da;
$order-background-color: #ffffff;
$box-background-color: #fafafa;
$default-border-color: #ced4da;
$btn-primary-backround-color: #3078c0;
$btn-primary-border-color: #3078c0;
