@import '../../styles/colors.scss';

.menu-detail {
    font-size: 1.8rem;
    line-height: 2.5rem;
    box-sizing: border-box;
    font-family: $font-family;
    .order-description {
        font-weight: 700;
        color: #ffffff;
        background-color: #c8c7cd;
        padding: 1.5rem;
    }
    .div {
        display: block;
    }
    .content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        width: 100%;
        font-size: 1.6rem;
        .menu-item{
            .menu-item-detail {
                flex-grow: 1;
            }
        }
    }
}