@import '../../styles/colors.scss';

.payment {
  height: inherit;
  min-height: auto;
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  .menu-header {
    background-color: #c8c7cd;
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem;
    .lb-your-order {
      color: #ffffff;
      font-size: 1.8rem;
      padding-left: 0.5rem;
      .table-number {
        text-decoration: underline;
      }
    }
  }
  .order-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1.5rem 1rem;
    border-bottom: 1px solid;
  }
  .payment-form {
    flex-grow: 1;
    background-color: #ffffff;
    width: 100%;
    flex-direction: row;
    .p_m {
      padding:1rem;
      flex-direction: row;

      .form {
        display: block;
        margin-top: 0rem;
        .mb_s {
          margin-bottom: .5rem;
        }
        .mt_s {
          margin-top:.5rem;
        }
        .label {
          display: inline-block;
          margin-bottom: .5rem;
          font-weight: 700;
          cursor: default;
        }
        .form-control {
          display: block;
          width: 100%;
          padding: .6rem 1.2rem;
          line-height: 2.4rem;
          color: #495057;
          background-color: #ffffff;
          background-clip: padding-box;
          border-radius: .4rem;
        }
        .input {
          text-rendering: auto;
          letter-spacing: normal;
          text-transform: none;
          text-indent:0px;
          text-align: start;
          margin: 0rem;
        }
      }
    }
  }
  .content-footer {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;

    .div {
      display: block;
    }
    .stick-bottom {
      width: 100%;
      display: flex;
      background-color: #efefef;
      padding: 1.5rem;
      bottom: 0;
      margin-bottom: 0;
      align-items: center;
      justify-items: center;
      display: flex;
      .btn {
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        display: flex;
        padding-left: 5rem;
        padding-right: 5rem;
      }
      .btn-back {
        color: #808080;

      }
      .btn-primary {
        color: #ffffff;
        background-color: #3078c0;
        border-color: #3078c0;      }
      .btn-link {
        font-weight: 700;
        border: solid 2px #ced4da;
      }
      .btn-block {
        display:block;
        width: 100%;
      }
      .btn-lg{
        padding: 1rem 1.6rem;
        line-height: 1.6rem;
        line-height: 2rem;
        border-radius: 2.2rem;
        font-weight: 600;
      }

      .btn-block {
        display: block;
        width: 100%;
      }
    }
  }
}
